html, a , html body input[type=submit]{
    cursor: url(../images/curs/clicker.cur), pointer;
}

a:active {
	cursor: url(../images/curs/clicker5.png), pointer !important;
}

body {
    background-color: black;
}

#content {
    margin: 5% auto;
    width: 70%;
}

/*******************************************/
/************** WEATHER PART ***************/
/*******************************************/

.weather {
    margin: 0 auto;
    width: 230px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.weather-input {
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.weather-input:focus {
    border-color: #1e9ce6;
    outline: 0;
}

.weather-switch {
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    background: #6db244;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, black, #717171);
    background-image: -moz-linear-gradient(top, black, #717171);
    background-image: -o-linear-gradient(top, black, #717171);
    background-image: linear-gradient(to bottom, black, #717171);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.weather-switch-input {
    display: none;
}

.weather-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.weather-switch-input:checked + .weather-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.weather-button {
    display: block;
    width: 100%;
    height: 42px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #494d59;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #fcfcfc;
    border: 1px solid;
    border-color: #d8d8d8 #d1d1d1 #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
.weather-button:active {
    background: #eee;
    border-color: #c3c3c3 #d1d1d1 #d8d8d8;
    background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
    outline: 0;
}

:-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-placeholder {
    color: #aaa;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*******************************************/
/*************** CLOCK PART ****************/
/*******************************************/

#clock {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*******************************************/
/************** TRAFFIC PART ***************/
/*******************************************/

#content-form {
    margin: 5% auto;
    width: 50%;
}

/*******************************************/
/**************** NEWS PART ****************/
/*******************************************/

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-item {
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    white-space: pre-wrap;
    margin: 5px;
}

#news h1 {
    color: white;
}

/*******************************************/
/************* CONFIG NAV PART *************/
/*******************************************/

#config-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#config-nav ul {
    white-space: nowrap;
}

#config-nav ul li {
    width: 15vw;
    height: 15vw;
    display: inline-block;
    border-radius: 10px;
    margin: 3vw;
}

.cloud {
    background: url("../images/config-icons/cloud.svg");
    background-size: 100%;
}

.time {
    background: url("../images/config-icons/time.svg");
    background-size: 100%;
}

.rss {
    background: url("../images/config-icons/rss.svg");
    background-size: 100%;
}

.car {
    background: url("../images/config-icons/car.svg");
    background-size: 100%;
}

.video {
    background: url("../images/config-icons/video.svg");
    background-size: 100%;
}

.exit {
    background: url("../images/config-icons/exit.svg");
    background-size: 100%;
}

#config-nav span {
    display: none;
}

#info {
    width: 100%;
    height: 10vw;
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    white-space: nowrap;
    line-height: 10vw;
    font-family: 'Kanit', sans-serif;
    font-size: 7vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

/*******************************************/
/************* BOTTOM NAV PART *************/
/*******************************************/

.nav {
    position: relative;
}

.nav a {
    display: inline-block;
    color: white;
    padding: 20px 30px;
    height: 11vw;
    width: 11vw;
    position: absolute;
}

.nav .back {
    background: url("../images/config-icons/previous.svg");
    background-size: 100%;
    left: 10%;

}
.nav .exit {
    background: url("../images/config-icons/exit.svg");
    background-size: 100%;
    right: 10%;
}
