body {
    background-color: black;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    margin-top: 3%;
}

.row h3 {
    text-align: center;
    color: white;
}

.row button {
    width: 100%;
    color: white;
    background-color: black;
}

.thumbnail {
    background-color: black;
}

.thumb {
    padding: 0 2% 0 0;
}