html, a {
    cursor: url(../images/cursor.cur), pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.grabbable:active:hover {
    cursor: url(../images/grab.cur), pointer;
}

#rightPanel {
    float: right;
    margin-left: 95%;
    width: 22%;
    position: fixed;
    margin-top: 0%;

}

.widget {
    position: absolute;
}

#rightPanel:hover {
    margin-left: 80%;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

ul li {
    border-radius: 7px;
    border: medium solid white;
    display: block;
    padding: 20% 0 20% 0;
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100px;
    /*width:200px;*/
}

/* Change the link color on hover */
ul li:hover {
    background-color: #D96459;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #8C4646;
}

#rightPanel ul li div {
    padding-top: 0px;
    margin-left: 29%;
    width: 100px;
    height: 100px;
}

.widgetIcon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#maquillageIcon {
    background-image: url(../images/maquillage.png);
}

#ecrouIcon {
    background-image: url(../images/ecrou.png);
}

#exitIcon {
    background-image: url(../images/exit.png);
}

#closeIcon {
    background-image: url(../images/close.png);
}

#rightPanel ul li a {
    margin-top: 10%;
    display: block;
}

#rightPanel ul li div a {
    margin-top: 0;
}

#video {
    position: relative;
    display: inline-block;
    border-radius: 7px;
    border: medium solid white;
}

#video span{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
}
video#videoElement {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}



