html, a {
    cursor: url(../images/curs/clicker.cur), pointer;
}

#rightPanel ul a:active {
    cursor: url(../images/curs/clicker5.png), pointer !important;
}

html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}

.grabbable:active:hover {
    cursor: url(../images/curs/grab.cur), pointer;
}

.widget {
    position: absolute;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px !important;

}

#rightPanel {
    float: right;
    margin-left: 98%;
    width: 22%;
    position: fixed;
    margin-top: 0%;
}

#rightPanel:hover {
    margin-left: 91%;
}

#rightPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#rightPanel ul li {
    border-radius: 7px;
    border: medium solid white;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 9%;
    padding-bottom: 9%;
    height: 10%;
    /*width:200px;*/
}

#leftPanel {
    float: left;
    margin-left: -20%;
    width: 22%;
    position: fixed;
    margin-top: 0%;
}

#leftPanel:hover {
    margin-left: -13%;
}

#leftPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#leftPanel ul li {
    border-radius: 7px;
    border: medium solid white;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 9%;
    padding-bottom: 9%;
    height: 10%;
    /*width:200px;*/
}

/* Change the link color on hover */
ul li:hover {
    background-color: #a03232;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #8C4646;
}

#bottomPanel {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    height: 5%;
    position: absolute;
    top: 95%;
    left: 0px;
}

.widgetIcon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#loadingScreen {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

.smallIconLeft {
    padding-left: 70%;
    width: 20%;
}

.smallIconRight {
    padding-right: 70%;
    width: 20%;
}

#videoElement {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: scale(-1, 1) !important;
    -moz-transform: scale(-1, 1) !important;
    -webkit-transform: scale(-1, 1) !important;
    -o-transform: scale(-1, 1) !important;
    -khtml-transform: scale(-1, 1) !important;
    -ms-transform: scale(-1, 1) !important;
}

#shopping {
    left: 500px;
    top: 200px;
}

#tshirt {
    width: 100px;
    height: 100px;
}