
#video {
    /*position: relative;*/
    display: inline-block;
    border-radius: 7px;
    border: medium solid white;
    padding-top: 5%;
}

#video span {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
}

video#videoElement {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}





#forcecentered {
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 20;
}

#forcecentered ul {
    white-space: nowrap;
}

#forcecentered ul li {
    display: inline-block;
    vertical-align: top;
    margin: 1%;
}

#forcecentered ul li p {
    margin: 0;
    max-width: 320px;
    white-space: normal;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}




#exit {
    display: block;
    width: 90%;
    height: 20%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: white url("../images/previous.svg") no-repeat center;
    border-top: 2px black solid;
    z-index: 20;
}

#exit:hover {
    background-color: #a03232;
}
