/* Import Icon fonts and web font */
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700";
@import "http://weloveiconfonts.com/api/?family=entypo";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: white;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    color: white;
}

/* Colors declarations */
/* General styles */
.wrapper {
    width: 100px;
    height: 250px;
    margin: 10% auto;
    border-radius: 7px;
}

#weather-ul nav {
    width: 120px;
    height: 100%;
    float: left;
    background-color: #373B46;
    border-radius: 7px;
}

.weather-ul nav ul li {
    width: 120px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    background-color: #373B46;
}

.weather-ul nav ul li.last {
    height: 100px;
    line-height: 140px;
}

.weather-ul nav ul li.active {
    background-color: #4b4e57;
    border-radius: 7px 0px 0px 0px;
}

.weather-ul nav ul li a {
    color: #eee;
    font-size: 2.2em;
    text-decoration: none;
    transition: font-size 0.2s;
}

.weather-ul nav ul li a:hover {
    font-size: 2.6em;
}

section {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 40px;
    float: left;
    /*position: relative;*/
    border-radius: 7px;
    border: medium solid white;
}

section h1 {
    width: 250px;
    position: relative;
    font-size: 1.5em;
    border-bottom: 2px solid white;
}

section h1 a.add {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    font-size: 2.4em;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    background-color: black;
    border-radius: 3px;
    transition: color 0.5s;
}

section h1 a.add:hover {
    color: white;
}

section .temperature {
    color: #3D414C;
    font-size: 2em;
    transition: color 0.5s ease;
}

section .temperature h2 {
    display: inline;
    color: #eee;
    font-weight: 300;
}

section .temperature h2 span.degree-symbol {
    display: inline-block;
    margin: 0px 15px;
    font-size: 0.6em;
    vertical-align: top;
}

section .temperature h2 span.celcius {
    display: inline-block;
    margin: 10px 0px 0px 15px;
    color: #3D414C;
    font-size: 0.3em;
    vertical-align: top;
}

section ul {
    padding: 5px;
    margin-bottom: 70px;
}

section ul li {
    display: block;
    float: left;
    margin-right: 60px;
    color: #3D414C;
    font-size: 2em;
}

section ul li:last-child {
    margin-right: 0px;
}

section ul li span {
    padding-left: 10px;
    color: grey;
    font-size: 0.6em;
    line-height: 30px;
    vertical-align: top;
}

section .bullets {
    height: 70px;
    color: grey;
    text-align: center;
}

section .bullets span {
    margin-right: 10px;
    font-size: 0.6em;
}

section .bullets span.active {
    color: grey;
    font-size: 0.8em;
}

section a {
    color: grey;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.5s;
}

section a:hover {
    color: grey;
}

section a .external-link {
    padding-left: 5px;
    font-size: 0.6em;
    vertical-align: middle;
}

section .share {
    width: 100px;
    height: 90px;
    position: absolute;
    bottom: 20px;
    right: -10px;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 90px;
    background-color: rgba(210, 58, 81, 0.9);
    transition: right 0.2s;
}

section .share:hover {
    right: -20px;
}

#city {
    color: white;
}

.white {
    color: white;
}